* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } 
  header {
    background-color: greenyellow;
    padding: 10px 70px;
    color: green;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  h3 {
    padding-top: 20px;
  }
  main {
    /* background-image: url("https://i.etsystatic.com/30589192/r/il/912d12/3211239547/il_1588xN.3211239547_sn67.jpg"); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    background-color: rgb(237, 255, 237);
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    padding: 5% 0;
    height: 92vh;
  }
  .div1{
    margin-right: 20%;  
  }
  .div2{

  }
  img {
    width: 150%;
    padding-left: 20%;
  }
  h2 {
    color: rgb(255, 78, 246);
    font-size: 300%;
  }
  button {
    border: none;
    border-radius: 5px;
    background-color: rgb(106, 106, 255);
    padding: 10px 70px;
    margin: 10px 20%;
  }
  button:hover {
    background-color: blue;
  }
  
  button.active {
    background-color: greenyellow;
  }
  
  span {
    color: rgb(255, 78, 246);
    font-size: 200%;
  }
  footer {
    background-color: greenyellow;
    padding: 10px 70px;
    color: green;
  }